<%= render 'shared/navbar' %>
<div class="page-header">
  <h1>Create Profile</h1>
</div>
<div class="form mobfriend-form">
  <%= simple_form_for @mobfriend do |f|%>
  <% if @mobfriend.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @mobfriend.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :tagline %>
  <%= f.input :hourly_rate %>
  <%= f.input :age %>
  <%= f.input :gender %>
  <%= f.input :language %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :bio %>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
