<%= render 'shared/navbar' %>
<div class="header text-center my-5">
  <h1><%= @mobfriend.first_name.capitalize %> <%= @mobfriend.last_name.capitalize %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= link_to mobfriend_path(@mobfriend) do %>
        <% if @mobfriend.photo.url.nil? %>
          <%= image_tag("https://source.unsplash.com/600x400/?#{@mobfriend.gender},face", width: '100%') %>
        <% else %>
          <img src=<%= cl_image_path @mobfriend.photo, crop: :fill %> alt=<%= mobfriend.user.username %> style="width: 100%">
        <% end %>
      <% end %>
      <p><%= @mobfriend.tagline %></p>
    </div>
    <div class="col-lg-8">
      <p><strong>Asking Rate: </strong><%= @mobfriend.hourly_rate %>/hour</p>
      <p><strong>Age: </strong><%= @mobfriend.age %></p>
      <p><strong>Gender: </strong><%= @mobfriend.gender %></p>
      <p><strong>Language: </strong><%= @mobfriend.language.capitalize %></p>
      <p><strong>Bio: </strong><%= @mobfriend.bio %></p>
    </div>
  </div>
<div class="buttons-container">
  <%= link_to 'Back', mobfriends_path, class: 'btn btn-info' %>
  <%= simple_form_for [@mobfriend, @job] do |f| %>
  <%= f.button :submit, value: 'Add to booking', class: 'btn btn-primary' %>
  <% end %>
</div>
</div>
