<h1>Events#show</h1>

<ul>
<li>Event ID: <%= @event.id  %></li>
<li>Event Description: <%= @event.description %></li>
<li>Event User ID: <%= @event.user_id %></li>
<li><%= @event.datetime %></li>
<li>Event Confirmation: <%= @event.confirmed  %></li>
</ul>
<%= link_to('All Events', events_path) %>
<%= link_to('Edit Event', edit_event_path) %>
<%= link_to('Delete Event', event_path(@event), method: :delete) %>
