<div class="header">
  <h1>Current Booking</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("https://source.unsplash.com/600x400/?#{@event.event_type}", width: '100%') %>
    </div>
    <div class="col-lg-8 my-5">
      <ul>
        <li>Description: <%= @event.description %></li>
        <li>Type: <%= @event.event_type %></li>
        <li>Time: <%= @date %></li>
        <li>Location: <%= @event.event_location %></li>
        <li>Total cost: $<%= @total_cost %>/hr</li>
        <% if @event.confirmed %>
          <li>Status: Confirmed</li>
        <% else %>
          <li>Status: Unconfirmed</li>
          <%= simple_form_for @event do |f| %>
          <%= f.hidden_field :confirmed, value: true %>
          <%= f.button :submit, class: 'btn btn-primary my-5' %>
          <% end %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row d-flex justify-content-center my-5">
    <%= link_to('All Events', events_path, class: 'btn btn-light mx-3') %>
    <% if policy(@event).update? %>
      <%= link_to('Edit Event', edit_event_path, class: 'btn btn-light mx-3') %>
    <% end %>
    <% if policy(@event).destroy? %>
      <%= link_to('Delete Event', @event, method: :delete, class: 'btn btn-light mx-3') %>
    <% end %>
  </div>
  <h2>Your Mobfriends</h2>
  <% if @event.jobs.present? %>
    <h3>who will be meeting you at
      <em><%= @event.meeting_location %></em>
    </h3>
    <div class="row">
      <%= render 'list_event_mobfriends' %>
    </div>
  <% else %>
    <p>No Mobfriends added to booking...</p>
    <% if @event.public && @event.crowd.present? %>
      <p>Please wait for Mobfriends to join your Crowd</p>
    <% elsif @event.public && @event.crowd.nil? %>
      <%= render 'add_crowd_big_btn' %>
    <% else %>
      <%= render 'add_mobfriends_big_btn' %>
    <% end %>
  <% end %>
</div>
