<% @confirmed_events.each do |event| %>
  <div class="col-lg-4">
    <div class="details-container">
      <%= image_tag("https://source.unsplash.com/600x400/?sig=#{rand(1..100)}/&#{event.event_type}", width: '100%') %>
      <p><strong><%= event.event_type.capitalize %></strong> at
        <%= event.event_location %>,
        <%= "#{event.datetime.hour}:#{event.datetime.min}" %>hrs</p>
    </div>
    <div class="buttons-container">
      <div class="btn btn-success disabled">Confirmed</div>
      <%= link_to('View', event_path(event), class: 'btn btn-light') %>
      <%= link_to('Delete Event', event, method: :delete, class: 'btn btn-light') %>
    </div>
  </div>
<% end %>
