<div class="header">
  <h1>Add Mobfriend to Your Event</h1>
  <div class="container">
    <div class="row">
      <% @pending_events.each do |event| %>
        <div class="col-lg-4">
          <%= image_tag("https://source.unsplash.com/600x400/?#{event.event_type}", width: '100%') %>
        </div>
        <div class="col-lg-8 my-5">
          <ul>
            <li>Type: <%= event.event_type %></li>
            <li>Time: <%= "#{event.datetime.hour}:#{event.datetime.min}" %></li>
            <li>Location: <%= event.event_location %></li>
          </ul>
          <%= simple_form_for [@mobfriend, @job] do |f| %>
          <%= f.hidden_field :event, value: event.id %>
          <%= f.button :submit, value: 'Add to booking', class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
